<div class="card-header border-solid-none bg-white">
  <h2 class="my-3 teste">Request details</h2>
</div>
<div class="card-content">
  <div class="row form-group align-items-center">
    <label class="col-sm-4 col-form-label text-left">Request nº:</label>
    <div class="col">
      <p class="mb-0"><%= @request.id %></p>
    </div>
  </div>
  <div class="row form-group align-items-center">
    <label class="col-sm-4 col-form-label text-left">Instrument:</label>
    <div class="col">
      <p class="mb-0"><%= @request.instrument %></p>
    </div>
  </div>
  <div class="row form-group align-items-center">
    <label class="col-sm-4 col-form-label text-left">Service:</label>
    <div class="col">
      <p class="mb-0"><%= @request.service %></p>
    </div>
  </div>
  <div class="row form-group align-items-center">
    <label class="col-sm-4 col-form-label text-left">Location:</label>
    <div class="col">
      <p class="mb-0"><%= @request.location %></p>
    </div>
  </div>
  <div class="row form-group align-items-center">
    <label class="col-sm-4 col-form-label text-left">Data da Solicitação:</label>
    <div class="col">
      <p class="mb-0"><%= @request.created_at.to_datetime.to_formatted_s(:long) %></p>
    </div>
  </div>
  <div class="row form-group align-items-center">
    <label class="col-sm-4 col-form-label text-left">Status:</label>
    <div class="col">
      <p class="mb-0"><%= @request.status %></p>
    </div>
  </div>
  <div class="row form-group align-items-center">
    <label class="col-sm-4 col-form-label text-left">Description:</label>
    <div class="col">
      <p class="mb-0"><%= @request.description %></p>
    </div>
  </div>
  <% unless @request.status.eql?('Aberta') %>
    <div class="row form-group align-items-center">
      <label class="col-sm-4 col-form-label text-left">Report:</label>
      <div class="col">
        <p class="mb-0"><%= @request.report %></p>
    </div>
  <% end %>
</div>
