<div class='container'>
  <%# Disable some input field if the current user is a tech %>
  <% is_disabled = current_user.role.eql?("tech") %>
  <%= simple_form_for(@request) do |f| %>
    <%= f.input :instrument, disabled: is_disabled, collection: Request::INSTRUMENTS %>
    <%= f.input :service, disabled: is_disabled, collection: Request::SERVICES %>
    <%= f.input :location, disabled: is_disabled, collection: Request::STATES %>
    <%= f.input :description, disabled: is_disabled %>
    <% unless @request.status.eql?('Aberta') || current_user.role.eql?("citizen") %>
      <%= f.input :report %>
      <%= f.input :status, as: :radio_buttons, collection: [['0', 'Aberta'], ['1', 'Em andamento'], ['2', 'Realizada']], label_method: :second, value_method: :second %>
    <% end %>

    <div class="d-flex justify-content-end mb-3">
      <%= link_to 'Back', requests_path, class: "br-button secondary mt-3 mt-sm-0 mx-sm-3" %>
      <%= f.submit 'Save', class: "br-button primary mt-3 mt-sm-0 mx-sm-3" %>
    </div>
  <% end %>
</div>
