<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-10 col-xl-8">
      <div class="row header-space">
        <h1><span class="blue-word">Sua</span> Lista de Requisições</h1>
      </div>
      <div class="row header-text">
        <p><strong> <%= current_user.full_name %>, </strong> aqui é o espaço para acompanhar suas solicitações ao Inmetro</p>
      </div>

      <div class="col-sm-12 col-md-10 col-lg-8">
        <div class="row">
          <div class="br-card">
            <div id="orders" class="card-content">
              <ul class="list-group">
              <% @requests.each do |request| %>
                <li id="order-box" class="list-group-item" >
                <div id="card-head" class="card-header"><strong>Requisição nº:</strong>&nbsp<%= "%05d" % request.id %></div>
                  <div id="card-content-box" class="card-content">
                    <div id="card-content-item" class="card-content">
                      <div><strong>Instrumento:</strong>&nbsp<%= request.instrument %></div>
                    </div>
                    <div id="card-content-item" class="card-content">
                    <% if request.status == 'Realizada' %>
                    <div><strong>Status:</strong>&nbsp<a style="color:green"><%= request.status %></a></div>
                    <% elsif request.status == 'Em andamento' %>
                    <div><strong>Status:</strong>&nbsp<a style="color:red"><%= request.status %></a></div>
                    <% else %>
                    <div><strong>Status:</strong>&nbsp<a style="color:blue"><%= request.status %></a></div>
                    <% end %>
                    </div>
                  </div>
                <div id="card-foot" class="card-footer">
                  <div id="icon-btn" class="d-flex">
                    <div class="br-button inverted mt-3 mt-sm-0 ml-sm-3" type="button" aria-label="Ícone ilustrativo">
                      <span>
                      <%= link_to request_path(request) do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                      </span>
                    </div>
                  </div>
                </div>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <%= link_to 'Voltar', pages_path, class: "br-button secondary mt-3 mt-sm-0" %>
        <% if current_user.role.eql?("citizen") %>
          <%= link_to 'Criar Requisição', new_request_path, class: "br-button primary mt-3 mt-sm-0 mx-sm-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
