<div class="container">

  <div class="row justify-content-center">
    <div class="col col-lg-10 col-xl-8">
      <h1>Info about Request</h1>
      <div class="px-sm-3 br-card">
        <div class="card-header border-solid-none bg-white">
          <p class="h5 text-primary-default mb-0">Maria Amorim</p>
          <span>UX Designer</span>
        </div>
        <div class="card-content">
          <p><b> Instrument: </b><%= @request.instrument %> </p>
          <p><b> Service: </b><%= @request.service %> </p>
          <p><b> Location: </b><%= @request.location %> </p>
          <p><b> Status: </b><%= @request.status %> </p>
          <p><b> Description: </b><%= @request.description %> </p>
          <% unless @request.status.eql?('Aberta') %>
            <p><b> Report: </b><%= @request.report %> </p>
          <% end %>
        </div>

        <div class="card-footer border-solid-none bg-white">
            <div class="row justify-content-around">
              <%= link_to 'Back', requests_path, class: "br-button" %>
              <%= link_to 'Edit', edit_request_path(@request), class: "br-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
