<div class='container'>
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :full_name, label: "Nome", input_html: { class: "fit-content" } %>
    <%= f.input :phone_number, input_html: { class: "fit-content" } %>
    <%= f.input :address, input_html: { class: "fit-content" } %>

    <div class="d-flex justify-content-end mb-3">
      <%= link_to 'Voltar', @user, class: "br-button secondary mt-3 mt-sm-0 mx-sm-3" %>
      <%= f.submit 'Salvar', class: "br-button primary mt-3 mt-sm-0 mx-sm-3" %>
    </div>
  <% end %>
</div>
