<div class="container">
  <div class="row justify-content-center">
    <div class="col col-lg-10 col-xl-8">
      <div class="row header-space">
        <h1><span class="blue-word">Seu</span> Sistema de Requisição</h1>
      </div>
      <div class="row header-text">
        <p>Olá <strong> <%= current_user.full_name %>. </strong> Aqui é o espaço para gerenciar seu perfil e suas solicitações ao Inmetro</p>
      </div>
      <div class="row mt-1 px-sm-10xh">
        <div class="col mr-3">
          <i class="far fa-user requests-link"></i>
          <p class="text-center"><%= link_to "Perfil", page_path(current_user), class: "requests-link stretched-link" %></p>
        </div>
        <div class="col ml-3">
          <i class="fas fa-scroll requests-link"></i>
          <p class="text-center"><%= link_to "Solicitações", requests_path, class: "requests-link stretched-link" %></p>
        </div>
      </div>

      <p><%= link_to 'Create request', new_request_path, class: "br-button" %></p>
    </div>
  </div>
  <h2 class="display-4 my-4">My profile</h2>
  <p class="mb-0">Olá <%= @user.full_name %></p>

  <%= link_to 'Voltar', pages_path, class: "br-button secondary mt-3 mt-sm-0 mx-sm-3" %>
</div>
