<!DOCTYPE html>
<html>
  <head>
    <title>Sssv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://dsgov.estaleiro.serpro.gov.br/assets/design-system/dist/dsgov.css">
    <!-- Fonte Rawline-->
    <link rel="stylesheet" href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css"/>
    <!-- Fonte Raleway-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless action_name == 'home' %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag "https://dsgov.estaleiro.serpro.gov.br/assets/design-system/dist/dsgov.min.js" %>
    <!-- Scripts de componentes -->
    <!--
    <script src="node_modules\@govbr\dsgov\dist\dsgov.min.js"></script>
    -->
  </body>
</html>
